.env
tests/*
old/*
util/*
src/__pycache__
src/analysis/__pycache__
src/experiment.log
src/logs/
src/data/snapshots/2026-05-12/companies
# LaTeX build files
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc
*.xmpi

# PDF generado
*.pdf

# Temporales
*.tmp
*.bak
*~